.container--gameLines {
    border: 2px dotted blue;
    width: 100%;
    margin: 0 auto;
    padding-left: 20%;
}

#user-guesses, #user-guessesLeft, #user-losses, #user-wins {
    color: grey;
}

.jumbotron-fluid {
    background-color: blue;
    color: blueviolet;
    width: 100%;
    
}